.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.sujetador {
    background-color: black;
    width: 20px;
    height: 100px;
}

.caja-semaforo {
    background-color: black;
    width: 100px;
    height: 250px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.circulo-rojo {
    background-color: red;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    cursor: pointer;
}

.circulo-amarillo {
    background-color: yellow;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    cursor: pointer;
}

.circulo-verde {
    background-color: green;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    cursor: pointer;
}

.alumbrado {
    box-shadow: 2px 3px 124px 9px rgba(244, 255, 11, 0.75);
    -webkit-box-shadow: 2px 3px 124px 9px rgba(244, 255, 11, 0.75);
    -moz-box-shadow: 2px 3px 124px 9px rgba(244, 255, 11, 0.75);
}